# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
cmake-build-release
cmake-build-release/nanogui/NanoGUI.cbp
cmake-build-release/nanogui/Makefile
cmake-build-release/nanogui/ext_build/glfw/src/Makefile
cmake-build-release/nanogui/ext_build/glfw/src/glfw_config.h
cmake-build-release/nanogui/ext_build/glfw/src/glfw3ConfigVersion.cmake
cmake-build-release/nanogui/ext_build/glfw/src/glfw3Config.cmake
cmake-build-release/nanogui/ext_build/glfw/src/glfw3.pc
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/progress.marks
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/progress.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/glfw_objects.objlib
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/flags.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/DependInfo.cmake
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/depend.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/cmake_clean.cmake
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/build.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/progress.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/link.txt
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/flags.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/DependInfo.cmake
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/depend.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/cmake_clean.cmake
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/build.make
cmake-build-release/nanogui/ext_build/glfw/src/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/nanogui/ext_build/glfw/src/cmake_install.cmake
cmake-build-release/nanogui/ext_build/glfw/Makefile
cmake-build-release/nanogui/ext_build/glfw/GLFW.cbp
cmake-build-release/nanogui/ext_build/glfw/CMakeFiles/progress.marks
cmake-build-release/nanogui/ext_build/glfw/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/nanogui/ext_build/glfw/cmake_install.cmake
cmake-build-release/nanogui/CMakeFiles/progress.marks
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/progress.make
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/link.txt
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/flags.make
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/DependInfo.cmake
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/depend.make
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/cmake_clean_target.cmake
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/cmake_clean.cmake
cmake-build-release/nanogui/CMakeFiles/nanogui.dir/build.make
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/progress.make
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/nanogui-obj.objlib
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/flags.make
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/DependInfo.cmake
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/depend.make
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/cmake_clean.cmake
cmake-build-release/nanogui/CMakeFiles/nanogui-obj.dir/build.make
cmake-build-release/nanogui/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/nanogui/cmake_install.cmake
cmake-build-release/Makefile
cmake-build-release/DESIA.cbp
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/DESIA_bin.dir/progress.make
cmake-build-release/CMakeFiles/DESIA_bin.dir/link.txt
cmake-build-release/CMakeFiles/DESIA_bin.dir/flags.make
cmake-build-release/CMakeFiles/DESIA_bin.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/DESIA_bin.dir/depend.make
cmake-build-release/CMakeFiles/DESIA_bin.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/DESIA_bin.dir/build.make
cmake-build-release/CMakeFiles/CMakeRuleHashes.txt
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/3.16.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.16.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.16.1/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.16.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.16.1/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.16.1/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.16.1/CMakeCCompiler.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/cmake_install.cmake
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/nanogui/nanogui_resources.h
cmake-build-debug/nanogui/nanogui_resources.cpp
cmake-build-debug/nanogui/NanoGUI.cbp
cmake-build-debug/nanogui/Makefile
cmake-build-debug/nanogui/ext_build/glfw/src/Makefile
cmake-build-debug/nanogui/ext_build/glfw/src/glfw_config.h
cmake-build-debug/nanogui/ext_build/glfw/src/glfw3ConfigVersion.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/glfw3Config.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/glfw3.pc
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/progress.marks
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/progress.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/glfw_objects.objlib
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/flags.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/DependInfo.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/depend.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/depend.internal
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/cmake_clean.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/C.includecache
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw_objects.dir/build.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/progress.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/link.txt
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/flags.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/DependInfo.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/depend.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/depend.internal
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/cmake_clean.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/glfw.dir/build.make
cmake-build-debug/nanogui/ext_build/glfw/src/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nanogui/ext_build/glfw/src/cmake_install.cmake
cmake-build-debug/nanogui/ext_build/glfw/Makefile
cmake-build-debug/nanogui/ext_build/glfw/GLFW.cbp
cmake-build-debug/nanogui/ext_build/glfw/CMakeFiles/progress.marks
cmake-build-debug/nanogui/ext_build/glfw/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nanogui/ext_build/glfw/cmake_install.cmake
cmake-build-debug/nanogui/CMakeFiles/progress.marks
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/progress.make
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/link.txt
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/flags.make
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/DependInfo.cmake
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/depend.make
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/depend.internal
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/cmake_clean_target.cmake
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/cmake_clean.cmake
cmake-build-debug/nanogui/CMakeFiles/nanogui.dir/build.make
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/progress.make
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/nanogui-obj.objlib
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/flags.make
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/DependInfo.cmake
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/depend.make
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/depend.internal
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/CXX.includecache
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/cmake_clean.cmake
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/C.includecache
cmake-build-debug/nanogui/CMakeFiles/nanogui-obj.dir/build.make
cmake-build-debug/nanogui/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nanogui/cmake_install.cmake
cmake-build-debug/Makefile
cmake-build-debug/DESIA_bin
cmake-build-debug/DESIA.cbp
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/DESIA_bin.dir/progress.make
cmake-build-debug/CMakeFiles/DESIA_bin.dir/link.txt
cmake-build-debug/CMakeFiles/DESIA_bin.dir/flags.make
cmake-build-debug/CMakeFiles/DESIA_bin.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/DESIA_bin.dir/depend.make
cmake-build-debug/CMakeFiles/DESIA_bin.dir/depend.internal
cmake-build-debug/CMakeFiles/DESIA_bin.dir/CXX.includecache
cmake-build-debug/CMakeFiles/DESIA_bin.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/DESIA_bin.dir/build.make
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.16.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.16.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.16.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
